---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <h1 class="text-white font-bold">Blog</h1>
  <script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/UWoeqiir20o49Dah/scene.splinecode"></spline-viewer>
</Layout>

<style></style>
